* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#logo {
  width: 100px;
}

#landingpage {
  background-image: url(./images/landingPage.png);
  height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain; /* or contain */
  background-position: center;
}
