* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#logo {
  width: 100px;
}

#landingpage {
  background-image: url(./images/landingPagee.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain; /* or contain */
  background-position: right;
}

main {
  position: relative;
}

#about-us div img {
  border-radius: 20px;
  width: 100%;
  margin-left: 10px;

  height: 40%;
}
#testimonials {
  width: 80%;
  margin: 0 auto;
}
#contact-us {
  width: 80%;
  margin: 50px auto;
  border: 1px solid rgb(85, 82, 82);
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  #about-us {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
  }
  #landing-heading h1 {
    font-size: 50px;
  }
  .card-group {
    width: 80%;
    margin: 20px auto;
    display: flex;
    gap: 20px;
  }
  #landing-heading {
    color: #fff;
    position: absolute;
    padding: 20px 40px;
    top: 10%;
    left: 8%;
    width: 30%;
  }
  #testimonials h3 {
    font-size: 30px;
  }
}

#about-us-content-right {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* section 3 */
