*{
    margin: 0;
    padding: 0;
}

/* .carousel-item img{
    height: 350px;
    width: 800px;
    border: 2px solid black;

    
}
 */

 .slide1 
 {
    height: 350px;
    width: 500px;
    border: 3px solid black;
 }
 .carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background-size: fill;
 }
.card-body{
   text-align: center
}
.book_arival .card{
   border-radius: 20%;
   border: 2px solid goldenrod;
}
 .book_arival{
    margin-top: 20px;
    border: 2px solid grey;
    display: flex;
    justify-content: space-around;
    
 }
 
