* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.newsbar {
  background-color: #ff951f;
  font-size: 1.2rem;
  padding: 11px 6% 13px 20%;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 4%;
  align-items: center;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px; /* optional: space between items */
  }
}
.main-heading {
  width: 60%;
  margin: 10px auto;
  color: #fff;
}
.main-heading h1 {
  word-wrap: break-word;
  text-align: center;
}

.landingPage-description {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.landingPage-description div {
  background-color: #fff;
  margin: 0 auto;
  width: 600px;
  padding: 3px 3px;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .landingPage-description div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: initial;
  }
  .input-field {
    flex-wrap: wrap;
    width: initial;
  }
}
.input-field {
  height: 50px;
  background-color: #f8f3f3;
  width: 195px;
  border: none;
  font-size: 20px;
  padding: 2px 12px;
  outline: none;
}

.icons {
  width: 80%;
  margin: 10px auto;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.seperate-icons {
  background-color: #f0f3f3;
  padding: 4px 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}
.seperate-icons i {
  color: #26afeb;
}

.seperate-icons:hover {
  background-color: #0ca5e6;
  color: #fff;
}

.seperate-icons i:hover {
  background-color: #0ca5e6;
  color: #fff;
}

.devlopment_tools {
  background-color: #f9fafa;
  padding: 30px;
}

.dev-tools {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 70px;
}

.resource {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.devlopment_resource {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
  column-gap: 5rem;
}

.html5_resources {
  width: 80%;
  margin: 20px auto;
  padding-bottom: 20px;
}

.html5-tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
  column-gap: 5rem;
}

#html5_icon {
  font-size: 40px;
  color: #26afeb;
}

@media (max-width: 700px) {
  .devlopment_resource,
  .html5-tools {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.resource_heading {
  font-size: 20px;
  color: #26afeb;
}
#tool-icon {
  font-size: 30px;
  color: #0ca5e6;
}

#submit-btn {
  background-color: #ff951f;
  color: #fff;
}

header {
  background-color: #26afeb;
  padding-bottom: 40px;
}

#logo {
  width: 150px;
}

.footer-1 {
  background-image: linear-gradient(to top right, #4ed8f7, #26afeb 70%);
  padding: 40px;
}
