     ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
      }

      a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding: 10px 20px;
      }

      a:hover {
        text-decoration: underline;
      }