*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rest_content1{
    background-image:url("hrader.jpg");
    
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    position: relative;
    z-index: 0.5;
    border: 12px double rgb(255, 255, 255);
}
.popular_menu{
   background-image: url("3333.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   border: 4px double whitesmoke;

   
}
.navbar{
    position: absolute;
    top: 10%;
    width: 100%;
    background-color: hsla(0, 2%, 68%, 0.1);
    margin-left: 55%;
    
    
}
.navbar a{
    color: whitesmoke;
    font-size: 40px;
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 60px 0px 60px ;
    
}


img{
   height: 400px;
   width: 300px; 
   border-radius: 50%;
}
h1{
    text-align: center;
    margin: 40pxpx;
    font-style: italic;
    text-decoration: underline;
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: whitesmoke;
    font-style: italic;
    font-size: xx-large;
    margin-bottom: 40px;
}
.dish_1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: justify;
    padding: 20px;
    border: 4px double grey;
    margin: 30px;

}

.dish_2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: justify;
    padding: 20px;
    border: 4px double grey;
    margin: 30px;
}
.dish_text p{
    font-size: 30px;
    font-weight: bolder;
    color:orangered;
    margin: 20px;
    font-style: italic;
}
.dish_text h1{
    margin-top: 70px;
    color: black;
}
.dish_2{
    text-align: center;
}
.dish_name{
    border: 3px solid grey;
    margin: 10px;
    background-image: url("text123.jpg");
    background-size: cover;
    overflow: hidden;
}

