*{
    margin: 0;
    padding: 0;
}
.head{

    background-color: rgb(209, 210, 210);
   height: 25px;
   justify-content: center;
}
.page{
    display: flex;
   
}
.sidebar{
        background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
   overflow: auto;
   width: 80px;
      width: 120px;
  height: 800px;
   
}
.content{
    background-color: rgb(186, 184, 184);
    width: 100%;
    overflow: scroll;
      display: flex;
    flex-direction: row;
}
.info{
    background-color: white;
    height: 200px;
    width: 130px;
    border: solid 1px grey;
    border-radius:10px;
    padding: 5px;
    margin: 10px;
  
}
.info img{
    height: 30%;
    width: 100%;
}
.info p{
    font-size: 13px;
}
.info del{
    font-size: 13px;
}

