* {
    margin: 0;
    padding: 0;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: aqua;
}
@media screen and (min-width:1530px) {
    .cantainer{
        
        justify-content:center;
        background-color: aquamarine;
        padding: auto;
        
    }
    
}
#logo{
    color: #010002;
  margin: 10px;
    font-family:"Dancing Script", cursive;
}
header {
    position: fixed;
    display: block;
    height: 60px;
    width: 100%;
    background-color: rgb(163, 163, 247);
}
.heading-work{
    text-align: center; 
    background-color: rgb(163, 163, 247) ;
    border-radius: 5px;     
    height: 50px;
    width: 100%;
    font-size: 30px;
} 
.navbar {
    padding-left: 60%;
    width: 100%;
}
.navbar a {

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;  

}
.cantainer.imges{
    height: 300px;
    
}
.navbar a:hover {
    background: #fffcfc;
    color: rgb(12, 62, 168);
}
.cantainer{
    width: 100%;

}
.scroller{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
     overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.centered div{
    padding: 10px 12px;
    margin: 10px;
    padding-top: 20px;
}
.centered button {
    border: #fffcfc solid 2px;
    color: white;
    height: 60px;
    width: 200px;
    background-color: transparent;
    font-size: 20px;
}
#aboutus-contain {
    display: flex;
   
    justify-content: space-between;
}
.aboutus {
    height: 500px;
    width: 85%;
    padding: 40px;
    padding-right: 30px;
    overflow:hidden ;
}

.aboutus p {
    color: rgb(96, 95, 95);
}
@media(max-width:1184px) {
  #aboutus-contain{
     display: flex;
     flex-direction: column;
     width: 100%;
     gap: 30px;
     justify-content: center;
     align-items: center;
    }
}

.aboutus h2 {
    color: rgb(163, 163, 247);
    font-size: 40px;
}

.discription {
    font-size: 22px;
    width: 100%;
}
@media (max-width:1184px ){

    .aboutus{
        font-size: 90px;
        width: 100%;
        height: auto;

    }
    .discription{
        font-size: 40px;
        width: 100%;
    }
}

.imgs {
  width: 100%;
  height: auto;
}

.work {
    background-color: aliceblue;
}

.contact {
    color: #f9f9f9;

}

footer {
    width: 100%;
    background-color: black;
}


.works {
    background-color: #f2f2f2;
    height: auto;
    justify-content: space-around;
    display: flex;
    width: 100%;

}

.contain {
    background-color: #ffff;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
}
@media (max-width:1184px ){
    .works{
        display: flex;
        flex-direction: column;
    }
    .contain{
     width: 800px;
    height: 600px;
    }
    .contain h3 {
        font-size:50px ;
    }

}

.contain h3 {
    padding-left: 70px;

}

.contain:hover {
    background-color: rgb(163, 163, 247);
}

.contain img {
    height: 60%;
    width: 70%;
    padding: 30px;
}