*{
    margin: 0;
    padding: 0;
}


.content1{
    height:100vh;
    width: 100%;
    /* border: 2px solid red; */
   
   
    
    
}
img{
    height: 100%;
    width: 100%;
    /* position: 100% 100%; */
    background-repeat: no-repeat;
    background-position: 100%;  
}

.content1{
    background-image: url(./bookback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}